{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div style="float: right">
        <button onclick="setLang('uz')">UZ</button>
        <button onclick="setLang('en')">EN</button>
        <button onclick="setLang('ru')">RU</button>
    </div>
    <h1></h1>
    <table class="table table-dark">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Tumanlar nomi</th>
{#            <th scope="col">Districts name</th>#}
{#            <th scope="col">Название областей</th>#}

        </thead>
        <tbody>
            {% for i in object_list %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ i.district_name }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <style>
        th, td {
            border: 1px solid black;
        }
    </style>

    <script>
        function setLang(lang) {
            const Http = new XMLHttpRequest();
            const url='/setLang/' + lang;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                location.reload();
            }
        }
    </script>
</body>
</html>